# *** day 3***

In [1]:
num=int(input("enter a number"))
for i in range(101):
    print(i,end=' ')

enter a number66
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [2]:
num=int(input("enter a number"))
for i in range(101):
    if num==i:
        print(num,"number within range")
    else:
        print(num,"invalid number")

enter a number66
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 number within range
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number
66 invalid number

In [5]:
num=int(input("enter a number"))
flag=0
for i in range(101):
    if num==i:
        flag=1
if flag==1:       
     print(num,"number within range")
else:
     print(num,"invalid number")

enter a number66
66 number within range

In [6]:
num=int(input("enter a number"))
flag=0
for i in range(101):
    if num==i:
        flag=1
if flag==1:       
     print(num,"number within range")
else:
     print(num,"invalid number")

enter a number656
656 invalid number

In [7]:
num=int(input("enter a number"))
for i in range(0,101):      
     print(num,"number within range")
else:
     print(num,"invalid number")

enter a number65
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 number within range
65 invalid number

In [9]:
num=int(input("enter a number"))
for i in range(0,80):      
     print(num,"number within range")
else:
     print(num,"invalid number")

enter a number56
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 number within range
56 invalid number

number = 5
output = 1,5
5%1 == 0 1
5%2 == 0 0
5%3 == 0 0
5%4 == 0 0
5%5 == 0 1
v

In [6]:
val=int(input("enter a value"))
for i in range(1,val+1):
    if val%i==0:
        print(i,end=' ')

enter a value27
1 3 9 27

In [ ]:
# comments

In [8]:
'value is value' # single comments

'value is value'

In [9]:
"i don't know" # double comments

"i don't know"

In [12]:
"""my mother is beautiful
 my father is horriful""" # multiple comments

'my mother is beautiful\n my father is horriful'

In [18]:
l=[33,36,63]
l

[33, 36, 63]

In [20]:
l?

# ***>User defined<***

**(1)Required arguements:**

In [21]:
def add(v1,v2):
    print(v1+v2)
add(3,6)

9

(2)**Keyword arguement:**

In [24]:
def add(v1=10,v2=10):
    print(v1+v2)
add()

20

**(3)Default argument:**

In [25]:
def add(v1=10,v2=10):
    print(v1+v2)
add(10,20)

30

**(4)variable length argument:**

In [27]:
def add(*args):
    sum=0
    print(*args)
    for i in args:
        sum+=i
    print(sum)
add(1,2,3,4,5,6,7)

1 2 3 4 5 6 7
28

In [33]:
def isprime(v1):
    c=0
    for i in range(1,v1+1):
        if v1%i==0:
            print(i)
            c+=1
    print("number of factors of given number",c)  
    if c==2:
        print("prime")
    else:
        print("not prime")
isprime(63)

1
3
7
9
21
63
number of factors of given number 6
not prime

In [48]:
def isprime(*args):
    
    for val in args:
        c=0
        for i in range(1,val+1):
            if val%i==0:
                c+=1  
        if c==2:
            print(val,"prime")
        else:
            print(val,"not prime")
            
isprime(2,12,32,4,5,36)

2 prime
12 not prime
32 not prime
4 not prime
5 prime
36 not prime

# ***Regular expressions***

* **Its a way of checking data as you required**
* **it checks match or not**
* **valid or invalid data**
* **methods**
* **search** * **match** * **findall**

In [58]:
import re

In [59]:
#synatx 
#re.findall(str_pattern,data)

In [65]:
name = "dharani is bad"
re.search("d",name)

In [60]:
#synatx 
#re.findall(str_pattern,data)

In [62]:
name="hello"
re.findall('o',name)

['o']

# #,* {}  [],^$

In [66]:
name='diet'
re.search('^',name)

In [67]:
name='diet'
re.search('$',name)

In [24]:
import re

In [25]:
#synatx 
#re.findall(str_pattern,data)

In [26]:
import re
name='dharani'
data=["rajeya","fathima","abdulla"]
for i in data:
    if re.search("^......$",i):
          print(i)

rajeya

In [27]:
import re
data=["rajeya","fathima","abdulla"]#[]
for i in data:
    if re.search("^[a-z][5]$",i):
          print(i)

In [28]:
import re#{}
data='rajeya1234'
re.search("^[a-z]{7}[0-9]",data)

# ***Tuples***

* ***tuples are immutable iterator***
* ***collection of diff data elements***
* ***we can't modify,update,change,insert***
* ***can only count and find the index of element

In [6]:
t=(1,2,3)
t.count(3)

1

In [7]:
t.index(2)

1

In [34]:
del t

NameError: name 't' is not defined

In [38]:
dr=(1,23,4,5.6,7,8,9,9,0)

In [39]:
dr

(1, 23, 4, 5.6, 7, 8, 9, 9, 0)

# ***Sets***

* ***collection of unique elements***

In [37]:
a={1,2,3,1,6,3}
a

{1, 2, 3, 6}

In [41]:
s1={1,2,3,4,1,2}
s2={3,4,5,6,5,6}
print(s1)
print(s2)

{1, 2, 3, 4}
{3, 4, 5, 6}

In [42]:
s1&s2

{3, 4}

In [43]:
s1.intersection(s2)

{3, 4}

In [44]:
s1.intersection(s1)

{1, 2, 3, 4}

In [45]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [46]:
s1-s2

{1, 2}

In [47]:
s2-s1

{5, 6}

# ***Dictionaries***

* ***Collection of key values***

In [50]:
d={}
d=dict()
type(d)

dict

In [56]:
d={'rajeya':49,'dharani':39}
d

{'rajeya': 49, 'dharani': 39}

In [57]:
d.keys()

dict_keys(['rajeya', 'dharani'])

In [58]:
d.values()

dict_values([49, 39])

In [59]:
# update
d["nani"]=49
d["rani"]=39
d

{'rajeya': 49, 'dharani': 39, 'nani': 49, 'rani': 39}

In [61]:
d.items()

dict_items([('rajeya', 49), ('dharani', 39), ('nani', 49), ('rani', 39)])

In [62]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [63]:
d.clear()

In [64]:
d

{}

In [69]:
d={"kusuma":23,"sirisha":78}

In [70]:
d.pop("kusuma")

23

In [71]:
d.items()

dict_items([('sirisha', 78)])

In [74]:
for key,val in d.items():
    if val==78:
        print(key)

sirisha

### to know the topper of given members in a dictionary:

In [3]:
students={"fathima":100,"rajeya":50,"abdulla":40,"imambi":98}
students

{'fathima': 100, 'rajeya': 50, 'abdulla': 40, 'imambi': 98}

In [16]:
students.items()

dict_items([('fathima', 100), ('rajeya', 50), ('abdulla', 40), ('imambi', 98)])

In [17]:
for key,val in students.items():
    if val==100:
        print(key,"topper")
    elif val==50:
        print(key,"mannager")
    elif val==40:
        print(key,"waste fellow")
    elif val==98:
        print(key,"mini topper")

fathima topper
rajeya mannager
abdulla waste fellow
imambi mini topper

In [20]:
students={"fathima":100,"rajeya":50,"abdulla":40,"imambi":98}
students

{'fathima': 100, 'rajeya': 50, 'abdulla': 40, 'imambi': 98}

In [21]:
students.items()

dict_items([('fathima', 100), ('rajeya', 50), ('abdulla', 40), ('imambi', 98)])

In [22]:
temp=0
for key,value in students.items():
    if value==max(students.values()):
        print(key)

fathima

In [25]:
max(students.values())

100

# ***Modules***

* no.of f/n=modules
* modules=packages
* packages=files

In [26]:
import random

In [35]:
import pi

ModuleNotFoundError: No module named 'pi'

In [33]:
3*pi

NameError: name 'pi' is not defined

In [36]:
import math

In [37]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [39]:
random.random()

0.5100322648486618

In [42]:
random.randint(3,6)

4

In [43]:
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_BuiltinMethodType',
 '_MethodType',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_inst',
 '_itertools',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

# ***List***

* ***collection of elements***
* ***mutalble***

In [45]:
l=[1,2,3,4,5,6,7]
l

[1, 2, 3, 4, 5, 6, 7]

In [46]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [48]:
even=[]
odd=[]
for num in l:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print(even)
print(odd)

[2, 4, 6]
[1, 3, 5, 7]

In [50]:
x=[45,34,23]
l.append(x)
l

[1, 2, 3, 4, 5, 6, 7, [45, 34, 23], [45, 34, 23]]

In [51]:
l.extend(x)
l

[1, 2, 3, 4, 5, 6, 7, [45, 34, 23], [45, 34, 23], 45, 34, 23]

In [52]:
y=1
z=1.copy

SyntaxError: invalid syntax (<ipython-input-52-eb8a9320c575>, line 2)

In [57]:
l.remove(2)
l

[1, 6, [45, 34, 23], [45, 34, 23], 45, 34, 23]

In [58]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [59]:
l.reverse()
l

[23, 34, 45, [45, 34, 23], [45, 34, 23], 6, 1]

In [60]:
x=[3,2,6,7,9]
x

[3, 2, 6, 7, 9]

In [63]:
x=[3,2,6,7,9]
x.sort()
x

[2, 3, 6, 7, 9]